<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= blogData.title %></title>
    <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
<body>
    <article>
        <h1 class="title"><%= blogData.title %></h1>
        <span class="date"><%= blogData.updatedAt %></span>
        <p class="content"><%= blogData.content %></p>
    </article>
</body>
</html>