<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= blogData.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/editor.css">
</head>
<body>
    <header class="header">
      <h1 class="webName"><a href="/">首页</a></h1>
    </header>
    <main >
        Id: <input type="text" value="<%= blogData.id %>" name="id"><br>
        标题：<input type="text" value="<%= blogData.title %>" name="title"><br>
        内容：<textarea  name="content"><%= blogData.content %></textarea><br>
        <input type="submit" value="更新" class="btn-update">
    </main>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script src="/js/editor.js"></script>
</body>
</html>